/* Floating Elements CSS - Animation Features Removed */
/* This file previously contained animation styles for the marketplace hero section */
/* All animation features have been removed and the hero section returned to original state */




